.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
.header {
  margin-left: 25%;
  width: 600px;
  height: 700px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px #aaa;
  overflow-y: scroll;
}
nav {
  width: 100%;
  height: 50px;
  background-color: #e43f6f;
  display: flex;
  position: relative;
  padding-top: 10px;
}
.saveShow {
  display: block;
}
.saveHide {
  display: none;
}
.save {
  border-radius: 5px;
  background-color: #fffbfa;
  box-shadow: 0px 5px 40px #eee;
  position: absolute;
  top: 80px;
  left: 25%;
  height: 235px;
  padding: 20px;

  width: 260px;
  text-align: -webkit-center;
}
.save input {
  padding: 9px;
  margin-top: 30px;
  display: block;
  border: 2px #1b2845 solid;
  border-radius: 2px;
}
.save button {
  width: 100px;
  padding: 8px;
  border-radius: 15px;
  background-color: #e43f6f;
  border: none;
  box-shadow: 0px 0px 5px #bbb;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  color: white;
}
.logo {
  padding: 5px;
  color: #ddd;
}
span {
  font-size: 30px;
  float: right;
  position: absolute;
  right: 10px;
}
.itemCon {
  text-align: -webkit-center;
}

.item {
  width: 80%;
  height: 20px;
  margin-top: 10px;

  padding: 10px;
  display: inline-flex;
  box-shadow: 0px 5px 40px #eee;
}
.content {
  flex-grow: 3;
}

.item a {
  cursor: pointer;
  color: red;
}

.heading {
  box-shadow: none;
}
